.generate_btn_high {
    height: 90px !important; 
    font-size: 18px !important;
}

.four_btn_high {
    height: 36px !important; 
}

.six_btn_high {
    height: 70px !important; 
    font-size: 16px !important;
}

.seed_input {
    width: 70%;
    height: 80px;
}

.reset_btn {
    width: 10%;
    height: 80px;
}

.copy_btn {
    width: 10%;
    height: 80px;
}

.extra_checkbox {
    width: 10%;
    height: 80px;
}

